
.header{
  background-color: #0000FF;
  margin-top: -5px;
  margin-left: -5px;
}

.headtitle{
  font-size: 45px;
  color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
  margin-left: 25px;
}

/*displays the background color of the whole body */
body {
    background: #ebebeb;
    font-family: 'Poppins', sans-serif;
}

/* Nav for dropdowns */
.navbar{
  width: 1200px;
  height: 75px;
  margin-left: 700px;
  margin-top: -30px;
}

/* Phone contact */
.phonecontact{
  margin-left: 1400px;
  margin-top: -90px;
  font-size: 25px;
  color: #FFFFFF;
}

 /* The container <div> - needed to position the dropdown content */
 .dropdown {
  position:relative;
  display:inline-block;
}

/* Dropdown Button */
.dropbtn {
    background: #00FF00;
    color: #FFFFFF;
    padding: 10px;
    font: normal 18px 'Open Sans', cursive;
    border: 2px #000 solid;
    margin-right: auto;
    margin-top: -50px;
    cursor: pointer;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #0000FF;}

.logon{
  width: 330px;
  float: left;
  margin-left: 1200px;
  margin-top: -115px;
}

/* Welcome */
.welcome{
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
}

/* Boxed Welcome message Box */
.boxed {
  border: 1px solid #00FF00;
  width: 1020px;
  margin-left: 450px;
  margin-bottom: 10px;
  background-color: #0000FF;
  color:  #ffffff;
  margin-top: 20px;
}

/* Paragraph Welcome message Box */
.par{
  padding-left: 20px;
  padding-bottom: 25px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  letter-spacing: 1.2px;
  line-height: 25px;
}

/* images */
.images{
  width: auto;
  height: auto;
  margin-left: 330px;
  margin-top: 0px;

}

h2 {
  font-size: 35px;
  padding: 35px;
  background: #0000FF;
  color: #FFFFFF;
  font: normal 36px 'Open Sans', cursive;
  margin-top: -10px;
  margin-left: -10px;
  margin-right:-10px;
}

/*displays the border of the container */
.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    background: #fff;
    border: 2px #000 solid;
    padding: 10px;
}

form label {
    color: #00f;
    width: 300px;
    display: block;
    float: left;
    margin-right: 10px;
    font-size: 19px;
}

form label.radio-label {
    display: inline-block;
    float: none;
    width: fit-content;
}

input[type="radio"] {
    display: inline-block;
}

.hide {
  display: none;
}

input, select {
    margin-bottom: 10px;
    display: block;
}

td, th {
    border: 1px solid #000;    
}
table {
    border-collapse: collapse;
}

/* Register button */
.button {
  background-color: #0000FF;; /* blue */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}

/* footer styling - start */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}

section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #00FF00;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #00FF00;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 30px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #ffffff;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

  /* footer styling - end */



